# Immigrant Project

### Cross-Generational Differences in Hispanic Outcomes by Age, 1994-2016

1. Cross-Generational Differences in Hispanic Outcomes, 1994-2016: use main_national again, and plot the values for white-All; Hispanic-All; Hispanic, 1st; Hispanic, 2nd; and Hispanic, 3rd for each outcome listed above other than gen1-gen3.
2. Cross-Generational Differences in Hispanic Outcomes by Age, 1994-2016: similar to (1) broken down by age, side-by-side would be great other than gen1-gen3.

In [1]:
import pandas as pd
import os
import plotly.graph_objs as go
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output, State

In [2]:
os.chdir(r'H:\CALDER\CALDER Data Visualizations\Data\Immigrant Project')

In [3]:
age = pd.read_csv('main_national_first_age.csv')

In [4]:
age = age.sort_values(by=['year','age_arrive_cat'])
age.head(6)

,year,age_arrive_cat,lths,scol,college,hinsured,employed,married2,children,rincp_all
5,1994,1,0.235721,0.527449,0.176523,0.761609,0.791594,0.633550,0.735974,35724.836
6,1994,2,0.497543,0.223191,0.066070,0.597764,0.701365,0.677422,0.761941,24236.658
7,1994,3,0.560485,0.212546,0.098552,0.509825,0.646929,0.705881,0.707223,19389.326
8,1994,4,0.271175,0.397538,0.117982,0.756655,0.671149,0.581021,0.590973,34092.898
9,1994,5,0.080565,0.569225,0.284902,0.862277,0.810314,0.700705,0.529443,41756.531
10,1995,1,0.201242,0.522364,0.176783,0.722424,0.729257,0.696462,0.771239,34680.719

In [5]:
# Rename Columns
pre = ['lths', 'college', 'hinsured', 'employed', 'married2', 'children', 'rincp_all']
post = ["% less than High School diploma", "% with College Degree", "% with Health Insurance", "% Employed", "% Married", 
        "% with Children", "Median Individual Real Income"]
for i in range(0, len(pre)):   
    age.rename(columns={pre[i]: post[i]}, inplace=True)

age.columns

Index(['year', 'age_arrive_cat', '% less than High School diploma', 'scol',
       '% with College Degree', '% with Health Insurance', '% Employed',
       '% Married', '% with Children', 'Median Individual Real Income'],
      dtype='object')

### Rename values of column "age_arrive_cat"

In [6]:
age['age_arrive_cat'] = age['age_arrive_cat'].astype(str)
age['age_arrive_cat'] = age['age_arrive_cat'].replace({'1': 'First generation who arrived younger than 10', 
                                '2': 'First generation who arrived between 10 and 18', 
                                '3': 'First generation who arrived older than 18', 
                                '4': 'Second generation Hispanic', 
                                '5': 'White'})
age.head(6)

,year,age_arrive_cat,% less than High School diploma,scol,% with College Degree,% with Health Insurance,% Employed,% Married,% with Children,Median Individual Real Income
5,1994,First generation who arrived younger than 10,0.235721,0.527449,0.176523,0.761609,0.791594,0.633550,0.735974,35724.836
6,1994,First generation who arrived between 10 and 18,0.497543,0.223191,0.066070,0.597764,0.701365,0.677422,0.761941,24236.658
7,1994,First generation who arrived older than 18,0.560485,0.212546,0.098552,0.509825,0.646929,0.705881,0.707223,19389.326
8,1994,Second generation Hispanic,0.271175,0.397538,0.117982,0.756655,0.671149,0.581021,0.590973,34092.898
9,1994,White,0.080565,0.569225,0.284902,0.862277,0.810314,0.700705,0.529443,41756.531
10,1995,First generation who arrived younger than 10,0.201242,0.522364,0.176783,0.722424,0.729257,0.696462,0.771239,34680.719

In [7]:
age.columns

Index(['year', 'age_arrive_cat', '% less than High School diploma', 'scol',
       '% with College Degree', '% with Health Insurance', '% Employed',
       '% Married', '% with Children', 'Median Individual Real Income'],
      dtype='object')

## Export data

Export to git repository

In [8]:
os.chdir('H:\CALDER\CALDER Data Visualizations\Git\Immigrant-Project\Graph 5')

In [9]:
age.to_csv('clean_national_first_age.csv')

## Graph

In [18]:
app = dash.Dash()

app.css.append_css({"external_url": "https://codepen.io/chriddyp/pen/bWLwgP.css"}) 

df = age

outcomes = ['% less than High School diploma','% with College Degree', '% with Health Insurance', '% Employed',
       '% Married', '% with Children', 'Median Individual Real Income']

# Organize where items will be on the page
app.layout = html.Div([
        html.H3(
            children='Distribution of Immigrant Generation Nationally by Age groups, 1994-2016',
            style={
                'textAlign': 'center', 'fontFamily' : 'Georgia'
            }
        ),
            html.Center([
                html.Div([
                    html.Div([html.P('Select Outcome', id='outcome-title')],
                             style={'textAlign': 'center', 'fontFamily': 'Georgia'}),
                    dcc.Dropdown(
                        id='outcome-id',
                        options=[{'label': i, 'value': i} for i in outcomes],
                        value='% less than High School diploma')
                ], style={'width': '50%', 'textAlign': 'center', 'fontFamily': 'Georgia', 'display': 'inline-block'}),
            ]),
            dcc.Graph(id='indicator-graphic',
                      config={'modeBarButtonsToRemove': ['sendDataToCloud', 'lasso2d', 'zoomIn2d', 'zoomOut2d', 'pan2d', 
                                                         'zoom2d','resetScale2d'], 
                            'displaylogo': False}),
        html.Div([
            html.I('Click item in legend once to remove from graph, click item again to show item again. Double click \
                   to isolate item. Double click again to show all items.', id='below-graph-text')],
            style={'textAlign': 'center', 'fontFamily': 'Georgia', 'fontSize': '11'})
        ])

@app.callback(

    dash.dependencies.Output('indicator-graphic', 'figure'),
    [dash.dependencies.Input('outcome-id', 'value')])
def outcome_hispanic(outcome_id):
    dff = df[['year', 'age_arrive_cat', outcome_id]]

    lines = {}
    data = []
    y_axis = {'title': '{0}'.format(outcome_id), 
              'hoverformat': ',.2f'}          
    legends={'orientation': 'h', 'xanchor': 'center', 'x': '0.5', 'y': '-0.22'}

    
    generation = list(dff['age_arrive_cat'].unique())
    for gen in generation:
        if 'younger than 10' in gen:
             lines = dict(
                 color = ("#6b6ecf"),
                 width = 2,
                 dash = 'dash')
        if 'between 10 and 18' in gen:
             lines = dict(
                 color = ("#80b1d3"),
                 width = 2,
                 dash = 'dash')
        if 'older than 18' in gen:
             lines = dict(
                 color = ("#fdb462"),
                 width = 2,
                 dash = 'dash')
        if 'Second' in gen:
             lines = dict(
                 color = ("#fb8072"),
                 width = 3)
        if 'White' in gen:
             lines = dict(
                 color = ("#333333"),
                 width = 3)
        trace = go.Scatter(
            x = dff[dff.age_arrive_cat == gen]['year'],
            y = dff[dff.age_arrive_cat == gen][outcome_id],
            mode='lines',
            name = gen,
            line = lines,
            opacity = 0.8
            )
        
        data.append(trace)


    return {
        'data' : data,
        'layout' : go.Layout(
            xaxis={'title': 'Year'},
            yaxis=y_axis,
            legend = legends
        )
    }
    
if __name__ == '__main__':
    app.run_server()

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [06/Apr/2018 15:50:49] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [06/Apr/2018 15:50:50] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [06/Apr/2018 15:50:50] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [06/Apr/2018 15:50:50] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [06/Apr/2018 15:50:50] "GET /favicon.ico HTTP/1.1" 200 -